<!DOCTYPE html>
<html>
  <head>
    <title>Game</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
  </head>
  <body>
    <canvas id="game" width="500" height="500px"></canvas>
    <div id="score" style="display:none">0</div>
    <div id="menu">
      <h1>GAM</h1>
      <a id="start" href="#start">
        Start
      </a>
      <p class="score"></p>
    </div>
    <script type="text/javascript" src="/javascripts/player.js"></script>
    <script type="text/javascript" src="/javascripts/enemies.js"></script>
    <script type="text/javascript" src="/javascripts/game.js"></script>
  </body>
</html>